Source: rsync
Section: net
Priority: optional
Maintainer: Paul Slootman <paul@debian.org>
Uploaders: Samuel Henrique <samueloph@debian.org>
Build-Depends: autotools-dev,
               libacl1-dev,
               libattr1-dev,
               libpopt-dev,
               yodl (>= 3.08.00)
Standards-Version: 4.3.0
Homepage: https://rsync.samba.org/
Vcs-Git: https://salsa.debian.org/debian/rsync.git
Vcs-Browser: https://salsa.debian.org/debian/rsync

Package: rsync
Architecture: any
Multi-Arch: foreign
Depends: base-files (>= 4.0.1),
         init-system-helpers (>= 1.18~),
         lsb-base (>= 3.2-14),
         ${shlibs:Depends}
Breaks: duplicity (<< 0.6.11)
Suggests: openssh-client,
          openssh-server
Description: fast, versatile, remote (and local) file-copying tool
 rsync is a fast and versatile file-copying tool which can copy locally
 and to/from a remote host. It offers many options to control its behavior,
 and its remote-update protocol can minimize network traffic to make
 transferring updates between machines fast and efficient.
 .
 It is widely used for backups and mirroring and as an improved copy
 command for everyday use.
 .
 This package provides both the rsync command line tool and optional
 daemon functionality.
