Source: libnfnetlink
Section: libs
Priority: extra
Maintainer: Alexander Wirt <formorer@debian.org>
Build-Depends: debhelper (>= 9), dh-autoreconf, libtool
Standards-Version: 3.9.4
Vcs-Git: git://github.com/formorer/pkg-libnfnetlink.git
Vcs-Browser: https://github.com/formorer/pkg-libnfnetlink

Package: libnfnetlink0
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Netfilter netlink library
 libnfnetlink is the low-level library for netfilter related
 kernel/userspace communication. It provides a generic messaging
 infrastructure for in-kernel netfilter subsystems (such as
 nfnetlink_log, nfnetlink_queue, nfnetlink_conntrack) and their
 respective users and/or management tools in userspace.

Package: libnfnetlink0-dbg
Section: debug
Architecture: any
Pre-Depends: dpkg (>= 1.17.5)
Depends: libnfnetlink0 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Debugging symbols for libnfnetlink0
 libnfnetlink is the low-level library for netfilter related
 kernel/userspace communication. It provides a generic messaging
 infrastructure for in-kernel netfilter subsystems (such as
 nfnetlink_log, nfnetlink_queue, nfnetlink_conntrack) and their
 respective users and/or management tools in userspace.
 .
 This package provides the debugging symbols.

Package: libnfnetlink-dev
Section: libdevel
Architecture: any
Depends: libnfnetlink0 (= ${binary:Version}),
         pkg-config,
         ${misc:Depends},
         ${misc:Pre-Depends},
         ${shlibs:Depends}
Description: Development files for libnfnetlink0
 libnfnetlink is the low-level library for netfilter related
 kernel/userspace communication. It provides a generic messaging
 infrastructure for in-kernel netfilter subsystems (such as
 nfnetlink_log, nfnetlink_queue, nfnetlink_conntrack) and their
 respective users and/or management tools in userspace.
 .
 This package provides development files and static libraries.
